DIRECTUS_URL=https://tu-directus.com
PUBLIC_DIRECTUS_URL=https://tu-directus.com
DIRECTUS_TOKEN=tu-api-token
PUBLIC_REGISTERED_COUNT=300
PUBLIC_AVAILABLE_SPOTS=700

# Umami Analytics
PUBLIC_UMAMI_SCRIPT_URL=https://umami.sitio.com/script.js
PUBLIC_UMAMI_WEBSITE_ID=tu-website-id
