DIRECTUS_URL=https://tu-directus.com
PUBLIC_DIRECTUS_URL=https://tu-directus.com
DIRECTUS_TOKEN=tu-api-token
PUBLIC_DOWNLOAD_URL=https://play.google.com/store/apps/details?id=com.flashy.app


# Umami Analytics
PUBLIC_UMAMI_SCRIPT_URL=https://umami.sitio.com/script.js
PUBLIC_UMAMI_WEBSITE_ID=tu-website-id
